@import "reset";

:root {
    --clr-accent-400: red;
    --clr-accent-100: red;

    --clr-primary-400: hsl(228, 39%, 23%);
    --clr-primary-100: hsl();

    --clr-neutral-100: white;
    --clr-neutral-900: black;
}


